<a href="https://colab.research.google.com/github/DipeshChothwe/Projects/blob/main/Efficient_Space_allocator_binpacking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Problem statement:

####Summary:
1. Assign space for circles of various diameter on one of the rectangular platform. 
2. Prepare a table showing which flask is in which incubator.
3. Determine if all circles can be be placed on available platforms. 

Parts circles can go ouside the boundries of rectangle if the circle can balance itself on the platform. However, since the platform is inclosed in a container, we should not place our circles such that rotation of platform is blocked. 

Incubator: has rectangular platform which rotates horizontally and is inclosed within a container.
https://youtu.be/wAslpHcK2l8?t=28
https://www.sigmaaldrich.com/IN/en/product/sigma/eps41i1200100

Flasks: Round bottom containers. https://www.fishersci.com/shop/products/sterile-single-use-erlenmeyer-flasks-plain-bottom-sterile/p-9594000#?keyword=


$####Extra information:$

Flasks come in predefined dimentions. We know how many flasks (of each dimentaions) can be placed on the platform of the incubator.

Dipesh,

Could you solve (by programming in python) a (slightly simpler) version of this problem?

Suppose you have 1000 flasks with weights (in grams) as given in this [CSV file](https://drive.google.com/file/d/1ZKYVcOUSEY7Y5wK87WQjVL64hmJms-74/view?usp=sharing), and assume that you have one incubator that can run with total of 2000 grams of flasks on it.

Could you make a schedule of the incubator runs i.e tell us the set of flasks (identified by CSV row numbers) that will go on the incubator in run 1, 2, 3... so that we can run all the flasks in minimum number of runs?

Feel free to use libraries as long as you can explain what is going on.

In [ ]:
! pip install binpacking

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: binpacking in /usr/local/lib/python3.7/dist-packages (1.5.2)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from binpacking) (0.16.0)

In [ ]:
import binpacking
import pandas as pd

# Reading csv from drive
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('/content/sample_data/flask_weights.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df[:5]

   weight
0    1206
1    1005
2     797
3     732
4     592

In [ ]:
# weights start from row number 1 in the csv file
# Adding a column with row number corresponding to each weight

df['Row_number'] = pd.Series([*range(2,1002,1)], index=df.index)
df = df.iloc[:, [1,0]]

df[:5]

   Row_number  weight
0           2    1206
1           3    1005
2           4     797
3           5     732
4           6     592

In [ ]:
# Convert the dataframe to a dict: {Row_number : weight}
df_tuple = list(df.to_records(index=False))
df_dict = dict(df_tuple)
df_dict[2]

1206

In [ ]:
# Apply Binpacking algorithm to arrange weigts in minimum bin

Incubators = binpacking.to_constant_volume(df_dict,2000)

print ("First three incubators allocated {Row_number : weight}:\n", Incubators[0:3])
print ("\nTotal incubators required: ", len(Incubators))

First three incubators allocated {Row_number : weight}:
 [{2: 1206, 5: 732, 82: 62}, {3: 1005, 4: 797, 28: 197}, {6: 592, 7: 563, 8: 541, 17: 297, 506: 7}]

Total incubators required:  14

In [ ]:
# Convert the list of incubators represented as {Row_number : weight} to:
# a dictionary of incubators represented as {Incubator ID : Row numbers alloted to that incubator}
# and a dictionary of represented as {Incubator ID : weights alloted to that incubator}

Incubator_keys = {}
Incubator_values = {}
c = 0
total_flasks = 0

for i in Incubators:
  c = c + 1
  Incubator_keys[c] = list(i.keys())
  Incubator_values[c] = list(i.values())

  total_flasks = total_flasks + len(Incubator_keys[c])

In [ ]:
print("Incubator allotment based on flsk weight\n Incubator 1:", Incubator_values[1])

Incubator allotment based on flsk weight
 Incubator 1: [1206, 732, 62]

In [ ]:
print("Incubator allotment based on Row number\n Incubator 1:", Incubator_keys[1])

print ("\nTotal flasks: ", total_flasks)

print ("\nminimum Incubators required: ", len(Incubators))

Incubator allotment based on Row number
 Incubator 1: [2, 5, 82]

Total flasks:  1000

minimum Incubators required:  14